<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <div id="editcustomer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Customer</h4>
                </div>
                <div class="modal-body">
                    <p class="text-warning"><strong>** IF YOU DO NOT SAVE ALL CHANGES WILL BE LOST **</strong></p>

         
<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @customer.id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @customer.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

          
                </div>

            </div>
        </div>
    </div>
</div>