<%= form_for(@eviction , html: {class: "form-horizontal row"}) do |f|  %>
  <% if @eviction.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
       <strong>Oh snap!</strong>
      <h2><%= pluralize(@eviction.errors.count, "error") %> prohibited this eviction from being saved:</h2>

      <ul>
      <% @eviction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well well-sm bmd-bg-primary col-sm-12"> 
  <div class="bmd-field-group col-sm-4">
    <%= text_field(:eviction, :case, class: "bmd-input bmd-text-grey-50") %>
    <span class="bmd-bars"></span>
    <label class="bmd-label bmd-text-grey-50"><%= f.label :case %></label>
    <span class="bmd-field-feedback"></span>
  </div>
  <div id="cmp" class="bmd-field-group col-sm-8" >
    <%= f.label :Company, class: "bmd-text-grey-50", style: "float: right;" %><br>
    <span class="bmd-field-feedback"></span>
     <%= collection_select(:eviction, :customer_id, 
  Customer.all, :id, :company_and_id, prompt: true, class: "bmd-input") %>
  </div>
</div>

<fieldset class="col-sm-12">
  <div class="well well-sm row">
    <div class="bmd-field-group col-sm-6">
      <%= text_field(:eviction, :plantiff, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :plantiff %></label>
      <span class="bmd-field-feedback"></span>
    </div>
   
    <div class="bmd-field-group col-sm-6">
      <%= text_field(:eviction, :defendant, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :defendant %></label>
      <span class="bmd-field-feedback"></span>
    </div>
  </div>



  <div class="well well-sm row">
    <div class="bmd-field-group col-sm-12 info">
      <%= text_field(:eviction, :address, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :address %></label>
      <span class="bmd-field-feedback"></span>
    </div>

    <div class="bmd-field-group col-sm-6">
      <%= text_field(:eviction, :city, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :city %></label>
      <span class="bmd-field-feedback"></span>
    </div>

    <div class="bmd-field-group col-sm-2 col-sm-offset-2">
      <%= text_field(:eviction, :state, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :state %></label>
      <span class="bmd-field-feedback"></span>
    </div>

    <div class="bmd-field-group col-sm-2 ">
      <%= text_field(:eviction, :zip, class: "bmd-input") %>
      <span class="bmd-bar"></span>
      <label class="bmd-label"><%= f.label :zip %></label>
      <span class="bmd-field-feedback"></span>
    </div>
    <div class="form-group has-error col-sm-12">
    <div class="bmd-field-group col-sm-3">
      <%= text_field(:eviction, :latitude, disabled:"", class: "bmd-input input-sm bmd-text-grey-400") %>
      <span class="bmd-bar"></span>
      <span class="bmd-field-feedback"></span>  
    </div>

    <div class="bmd-field-group col-sm-3">
      <%= text_field(:eviction, :longitude, disabled:"", class: "bmd-input input-sm bmd-text-grey-400") %>
      <span class="bmd-bar "></span>
      <span class="bmd-field-feedback"></span>
    </div>
    </div>
  </div>

  <div class="well well-sm row">
<div class="bmd-field-group col-sm-4 info">
    <%= text_field(:eviction, :phone, class: "bmd-input") %>
    <span class="bmd-bar"></span>
    <label class="bmd-label"><%= f.label :phone %></label>
    <span class="bmd-field-feedback"></span>
  </div>
  
<div class="bmd-field-group col-sm-4 col-sm-offset-4 info">
    <%= text_field(:eviction, :h_s_v, class: "bmd-input") %>
    <span class="bmd-bar"></span>
    <label class="bmd-label"><%= f.label :h_s_v %></label>
    <span class="bmd-field-feedback"></span>
  </div>

<div class="bmd-field-group col-sm-6">
    <%= text_field(:eviction, :scheduled, class: "bmd-input") %>
    <span class="bmd-bar"></span>
    <label class="bmd-label"><%= f.label :scheduled %></label>
    <span class="bmd-field-feedback"></span>
  </div>

<div class="bmd-field-group col-sm-6">
    <%= text_field(:eviction, :ejected, class: "bmd-input") %>
    <span class="bmd-bar"></span>
    <label class="bmd-label"><%= f.label :ejected %></label>
    <span class="bmd-field-feedback"></span>
  </div>
  </div>
  
  <div class="actions info btn-group col-sm-12">
    <%= submit_tag nil, class: "btn btn-primary bmd-ripple btn-lg btn-floating col-sm-6" %>
    <%= link_to 'Back', evictions_path, class: "btn btn-primary bmd-ripple btn-lg btn-floating col-sm-6" %>
  </div>
<% end %>
</fieldset>
