<p id="notice"><%= notice %></p>
<p>
  <strong>Company:</strong>
  <%= @cust.company %>
</p>

<p>
  <strong>Plantiff:</strong>
  <%= @eviction.plantiff %>
</p>

<p>
  <strong>Defendant:</strong>
  <%= @eviction.defendant %>
</p>

<p>
  <strong>Case:</strong>
  <%= @eviction.case %>
</p>

<p>
  <strong>Address:</strong>
  <%= @eviction.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @eviction.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @eviction.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @eviction.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @eviction.phone %>
</p>

<p>
  <strong>H s v:</strong>
  <%= @eviction.h_s_v %>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @eviction.scheduled %>
</p>

<p>
  <strong>Ejected:</strong>
  <%= @eviction.ejected %>
</p>

<%= link_to 'Edit', edit_eviction_path(@eviction) %> |
<%= link_to 'Back', evictions_path %>